<aside>
    <nav>
        <ul>
            <li><a ui-sref="bd.list"
                   class="hint--right"
                   data-hint="Módulo de Lista de Contactos"><i class="fa fa-group fa-2x fa-white"></i></a></li>
            <li><a ui-sref="campaign.list"
                   class="hint--right"
                   data-hint="Módulo de Campaña"><i class="fa fa-envelope-o fa-2x fa-white"></i></a></li>
            <li><a ui-sref="statistics"
                   class="hint--right"
                   data-hint="Módulo de Estadísticas"><i class="fa fa-bar-chart fa-2x fa-white"></i></a></li>
            <li><a ui-sref="template.list"
                   class="hint--right"
                   data-hint="Módulo de Plantilla"><i class="fa fa-code fa-2x fa-white"></i></a></li>
        </ul>
    </nav>
</aside>